.air
.DS_Store
.env*
!.env.aws.template
!.env.gcp.template
!/.envrc
go.work.sum
.idea
.infisical.json
.last_used_env
.local-baremetal-sim/
.ovh-secrets/
/packages/fc-kernels
/packages/fc-versions
.terraform
terraform.tfstate
terraform.tfstate.backup
tests/periodic-test/build-template/e2b.toml
**/.tfplan.*
.tfplan.*
*.tfvars
.vscode/mise-tools
